<div class="row head-panel">
    <div class="button header-buttons noselect" routerLink="/control" routerLinkActive="header-active" > 
        <img ng- src="../../../assets/icons/cogs-solid.svg" class="header-logo"><br>
        <span class="header-title">Control</span>
    </div>  
    <div class="button header-buttons noselect" routerLink="/stats" routerLinkActive="header-active">
            <img ng- src="../../../assets/icons/server-solid.svg" class="header-logo"><br>
            <span class="header-title">&nbsp;Stats</span>
    </div>  
    <div class="button header-buttons noselect" routerLink="/about" routerLinkActive="header-active">
            <img ng- src="../../../assets/icons/info-solid.svg" class="header-logo"><br>
            <span class="header-title">&nbsp;About</span>
    </div>  
</div>