.footer{
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    width: 100%;    
    color: black;
    background-color: whitesmoke;
    text-align: center;
    font-size: 1.4rem;
    padding-top: 5px;
    height: 35px;
    border-style: outset;
}